@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

body {
  font-family: 'Cairo', sans-serif;
}

@layer base {
  * {
    @apply border-gray-200;
  }

  body {
    @apply bg-white text-gray-900;
  }
}